doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title UI-Kit

        include ../_styles.pug
        link(rel="stylesheet", href="css/uikit.css")
    body 

        

        include ../_scripts.pug
        script(src="js/uikit.js")