doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Резюме БебенинГС

        include _styles.pug
    body 

        .wrapper
            .general
                .container
                    .general__inner
                        aside.aside 
                            .my-photo
                                img(class="my-photo__img", src="assets/images/unnamed.jpg", alt="Фото Бебенин ГС") 
                            article.about-me 
                                header.about-me__header О себе
                                p.about-me__text Способен выдерживать интенсивный режим работы. С коллегами поддерживаю спокойные и ровные отношения, неконфликтен. Новому и интересному учусь не по мере надобности, а из природного любопытства.<br><br>Хобби: настольный теннис.<br><br>Дата рождения: <span> 06.12.1982 г </span>
                            article.contact-me 
                                header.contact-me__header Мои контакты
                                a.contact-me__telephone(href="tel:+380985554433")
                                    .contact-me__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="20.000000pt" height="20.000000pt" viewBox="0 0 900.000000 723.000000" preserveAspectRatio="xMidYMid meet">
                                            <g transform="translate(0.000000,723.000000) scale(0.100000,-0.100000)" fill="#91c7f3" stroke="none">
                                            <path d="M4210 7223 c-1012 -28 -2021 -230 -2795 -560 -664 -283 -1161 -653 -1334 -993 -64 -125 -66 -139 -65 -440 0 -203 5 -306 18 -395 66 -462 253 -713 601 -805 164 -44 430 -38 725 16 275 50 436 98 595 175 238 115 366 269 416 499 17 77 22 148 27 380 7 268 8 288 29 330 113 229 555 373 1318 432 191 14 1150 18 1405 5 502 -25 924 -104 1173 -220 139 -65 243 -165 266 -256 5 -20 11 -153 14 -296 7 -340 29 -459 113 -597 142 -233 453 -376 1026 -470 191 -32 506 -31 622 0 352 97 534 342 602 809 13 88 18 189 18 393 1 244 -1 281 -18 330 -145 426 -774 887 -1646 1208 -891 327 -1980 487 -3110 455z"/>
                                            <path d="M3995 4964 c-27 -2 -122 -8 -210 -14 -147 -10 -426 -43 -467 -56 -13 -4 -18 -16 -18 -46 0 -59 -27 -235 -56 -367 -43 -190 -121 -379 -218 -525 -234 -351 -603 -584 -1151 -727 -242 -63 -385 -145 -498 -284 -58 -72 -111 -177 -132 -262 -19 -76 -237 -1570 -251 -1721 -8 -86 10 -221 43 -326 105 -333 381 -567 726 -615 110 -15 5364 -15 5474 0 376 52 666 324 750 703 29 132 21 263 -41 686 -31 212 -83 572 -116 800 -66 459 -75 504 -125 605 -101 207 -280 337 -566 410 -621 158 -1034 448 -1249 875 -96 192 -168 461 -187 706 -7 96 6 87 -146 109 -264 38 -425 46 -972 50 -297 1 -562 1 -590 -1z m665 -1579 c263 -40 469 -143 650 -325 205 -204 315 -456 327 -745 13 -317 -101 -607 -326 -834 -424 -427 -1100 -452 -1562 -58 -340 290 -474 772 -333 1196 173 520 706 849 1244 766z"/>
                                            </g>
                                        </svg>
                                    .contact-me__text 8 (910) 677-43-32
                                a.contact-me__email(href="mailto:bengor2891@yandex.ru")
                                    .contact-me__icon 
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="20.000000pt" height="20.000000pt" viewBox="0 0 980.000000 786.000000" preserveAspectRatio="xMidYMid meet">
                                            <g transform="translate(0.000000,786.000000) scale(0.100000,-0.100000)" fill="#91c7f3" stroke="none">
                                            <path d="M1235 7849 c-251 -24 -496 -130 -704 -303 -251 -210 -441 -548 -507 -901 -18 -96 -19 -207 -19 -2800 0 -2590 1 -2703 19 -2785 62 -287 177 -502 365 -683 231 -222 510 -340 866 -367 97 -8 1232 -10 3695 -8 l3555 4 110 21 c329 65 593 200 811 418 209 208 332 460 364 743 8 69 10 873 8 2732 l-4 2635 -21 92 c-49 207 -135 400 -251 563 -86 121 -251 286 -372 372 -169 120 -381 211 -593 255 -76 16 -332 17 -3657 19 -1966 1 -3615 -2 -3665 -7z m7317 -471 c272 -75 508 -269 635 -523 37 -73 86 -218 81 -240 -5 -25 -3804 -3920 -3878 -3977 -87 -67 -225 -132 -335 -160 -129 -32 -325 -31 -445 1 -108 30 -193 68 -278 125 -46 30 -671 636 -1997 1935 l-1930 1891 1 82 c3 221 149 503 345 665 139 116 327 201 486 222 38 5 1622 8 3643 7 l3575 -1 97 -27z m798 -3723 c0 -1284 -3 -2335 -7 -2335 -7 0 -510 422 -1946 1633 l-558 470 159 161 c87 89 650 666 1251 1284 601 617 1095 1122 1097 1122 2 0 4 -1051 4 -2335z m-7102 359 l583 -579 -1182 -1025 c-650 -564 -1186 -1026 -1191 -1028 -4 -2 -8 990 -8 2203 l0 2207 608 -600 c334 -330 869 -860 1190 -1178z m1297 -1282 c225 -225 437 -429 470 -454 249 -189 522 -281 830 -280 240 0 454 51 664 158 175 89 245 150 641 558 201 207 367 376 370 376 3 0 267 -217 585 -483 319 -265 912 -758 1318 -1095 405 -338 737 -617 737 -622 0 -19 -92 -130 -157 -190 -115 -106 -263 -180 -454 -227 -70 -16 -260 -18 -3619 -21 -2368 -2 -3583 1 -3660 7 -188 17 -357 73 -487 162 -91 62 -243 223 -243 257 0 11 2577 2262 2589 2262 3 0 190 -184 416 -408z"/>
                                            </g>
                                        </svg>
                                    .contact-me__text bengor2891@yandex.ru
                                .contact-me__adress
                                    .contact-me__icon
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="20.000000pt" height="20.000000pt" viewBox="0 0 920.000000 831.000000" preserveAspectRatio="xMidYMid meet">
                                            <g transform="translate(0.000000,831.000000) scale(0.100000,-0.100000)" fill="#91c7f3" stroke="none">
                                            <path d="M4275 8268 c-767 -86 -1417 -662 -1596 -1413 -49 -207 -62 -448 -34 -620 104 -646 716 -1859 1716 -3404 122 -189 124 -191 141 -170 25 30 298 456 452 704 138 224 224 369 426 720 70 121 151 261 180 310 77 130 343 660 439 874 162 359 277 683 321 902 66 330 11 711 -150 1044 -223 462 -616 810 -1096 970 -245 82 -539 113 -799 83z m413 -654 c175 -36 349 -131 483 -264 126 -124 214 -277 260 -450 32 -118 33 -357 1 -471 -51 -188 -141 -338 -280 -470 -132 -125 -281 -205 -457 -245 -113 -27 -330 -24 -437 4 -346 93 -600 337 -704 678 -26 82 -28 103 -28 264 -1 154 2 185 22 254 104 359 384 623 743 701 90 19 302 19 397 -1z"/>
                                            <path d="M5936 4233 c-56 -116 -284 -516 -431 -758 -228 -376 -356 -577 -595 -935 -353 -528 -331 -497 -373 -515 -20 -8 -43 -15 -50 -15 -13 1 -9 -5 -281 400 -322 478 -589 901 -787 1243 l-74 128 -475 -4 c-409 -4 -481 -7 -519 -21 -111 -41 -161 -113 -219 -311 -41 -141 -258 -864 -612 -2035 -106 -349 -219 -725 -252 -835 -53 -175 -60 -207 -55 -260 9 -114 76 -212 176 -259 l46 -21 1052 -3 c1001 -2 1055 -1 1105 16 29 10 368 150 753 312 385 161 773 323 863 360 l163 68 47 -14 c26 -8 108 -31 182 -51 185 -50 309 -83 485 -133 83 -23 173 -47 200 -55 28 -7 331 -90 675 -185 344 -95 650 -176 680 -180 131 -18 259 51 319 172 40 80 42 161 7 251 -14 34 -91 280 -171 547 -81 267 -204 676 -275 910 -71 234 -201 666 -290 960 -89 294 -175 578 -191 631 -31 101 -66 161 -121 202 -18 13 -96 54 -173 90 -77 35 -276 128 -443 205 -166 77 -310 143 -320 146 -14 5 -24 -6 -46 -51z m916 -523 c32 -35 -16 119 528 -1685 237 -786 440 -1451 452 -1477 25 -56 21 -126 -9 -167 -27 -36 -93 -71 -139 -72 -35 -2 -252 56 -1069 283 -137 38 -362 100 -500 138 -137 38 -362 101 -500 139 l-250 70 -910 -382 -910 -382 -1031 -3 -1030 -2 -45 23 c-48 25 -89 89 -89 138 0 25 868 2921 920 3069 5 14 16 51 25 82 19 70 63 124 113 138 22 6 200 10 448 10 l412 0 78 -132 c43 -73 131 -219 196 -325 l118 -191 0 -391 c0 -215 2 -391 4 -391 3 0 92 34 200 75 108 41 199 75 203 75 5 0 50 -62 101 -138 81 -119 90 -138 75 -145 -10 -4 -144 -56 -298 -116 l-280 -107 -3 -627 c-1 -345 0 -627 3 -627 3 0 211 86 463 191 251 105 590 247 752 314 l295 123 3 601 c1 391 -1 601 -8 601 -5 0 -55 -18 -111 -40 -56 -23 -103 -40 -104 -38 -2 2 50 82 113 178 64 96 185 283 269 415 83 132 158 248 165 258 11 16 13 -15 11 -187 l-2 -206 37 -9 c335 -89 1352 -336 1352 -329 0 5 -41 145 -91 311 -51 166 -119 393 -153 505 l-61 203 -360 166 c-198 92 -361 167 -363 168 -1 1 34 67 78 147 l81 145 397 -184 c274 -127 405 -193 424 -213z"/>
                                            <path d="M2538 3148 c-121 -404 -300 -996 -308 -1022 l-10 -28 393 6 c215 3 465 9 555 12 l162 6 0 589 0 589 -373 0 -373 0 -46 -152z"/>
                                            <path d="M5510 1852 c0 -336 3 -613 8 -616 4 -2 187 -54 407 -114 220 -61 647 -178 949 -262 301 -83 550 -149 553 -146 4 4 -402 1366 -409 1370 -2 1 -336 84 -743 185 -407 101 -746 186 -752 189 -10 3 -13 -122 -13 -606z"/>
                                            <path d="M3159 1786 c-2 -2 -236 -7 -519 -11 -283 -4 -516 -8 -518 -10 -1 -1 -86 -278 -188 -616 -101 -338 -187 -622 -190 -631 -5 -17 37 -18 790 -18 l796 0 0 645 0 645 -83 0 c-46 0 -86 -2 -88 -4z"/>
                                            </g>
                                        </svg>
                                    .contact-me__text Владимирская обл., г.Владимир, ул.Диктора Левитана
                            article.qr-code 
                                img.qr-code__image(src="http://qrcoder.ru/code/?http%3A%2F%2Fn96125wu.beget.tech%2F&6&0", alt="qr-code")
                            article.skills-me 
                                header.skills-me__header Личные навыки
                                .skills-me__el
                                    p.skills-me__name Организованность
                                    .skills-me__scale 
                                        .skills-me__scale-el 
                                        .skills-me__scale-el 
                                        .skills-me__scale-el 
                                        .skills-me__scale-el 
                                        .skills-me__scale-el 
                                        .skills-me__scale-el 
                                        .skills-me__scale-el 
                                        .skills-me__scale-el 
                                        .skills-me__scale-el 
                                        .skills-me__scale-el.skills-me__scale-el--gray  
                                .skills-me__el
                                    p.skills-me__name Дисциплина
                                    .skills-me__scale 
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                .skills-me__el
                                    p.skills-me__name Исполнительность
                                    .skills-me__scale 
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                .skills-me__el
                                    p.skills-me__name Эмоциональная устойчивость
                                    .skills-me__scale 
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                .skills-me__el
                                    p.skills-me__name Обучаемость
                                    .skills-me__scale 
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                .skills-me__el
                                    p.skills-me__name Умение гуглить
                                    .skills-me__scale 
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                .skills-me__el
                                    p.skills-me__name Русский язык
                                    .skills-me__scale 
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                .skills-me__el
                                    p.skills-me__name Английский язык
                                    .skills-me__scale 
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                .skills-me__el
                                    p.skills-me__name Немецкий язык
                                    .skills-me__scale 
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                        .skills-me__scale-el.skills-me__scale-el--gray
                                        .skills-me__scale-el.skills-me__scale-el--gray
                        .line                
                        main.main
                            section.name-me
                                header.name-me__name Бебенин Григорий Сергеевич
                                .name-me__profession
                                    p.name-me__profession--post Предпочитаемая профессия:
                                    p.name-me__profession--text Frontend-разработчик (Junior)
                                .name-me__price
                                    p.name-me__price--post Предпочитаемый доход:
                                    p.name-me__price--text 55 000 рублей
                            section.work-experience 
                                header.work-experience__header Профессиональный опыт
                                .work-experience__content
                                    .work-experience__time апрель 2021 - настоящее время
                                    .line-horizontally
                                    .work-experience__company HOWKING BROS Company
                                    .line-horizontally
                                    .work-experience__post стажёр Frontend-разработчик
                            article.skills-me-prof
                                header.skills-me-prof__header Профессиональные навыки
                                .skills-me-prof__content
                                    img.skills-me-prof__icon(src="assets/images/png-transparent-logo-html-html5.png", alt="HTML5" title="HTML5")
                                    img.skills-me-prof__icon(src="assets/images/logo-2582747_1280.png", alt="CSS3" title="CSS3")
                                    img.skills-me-prof__icon(src="assets/images/3a49c13b207c20bdf1fac243a9a8bc6b.png", alt="JavaScript" title="JavaScript")
                                    img.skills-me-prof__icon(src="assets/images/377-3772047_sass-logo.png", alt="препроцессор SASS" title="препроцессор SASS")
                                    img.skills-me-prof__icon(src="assets/images/1_PmL3-GUNxYP26qTSlVrmzw.png", alt="препроцессор PUG" title="препроцессор PUG")
                                    img.skills-me-prof__icon(src="assets/images/Gulp_logo_cube.png", alt="препроцессор GULP" title="препроцессор GULP")
                                    img.skills-me-prof__icon(src="assets/images/png-clipart-clay-os-6-a-macos-icon-adobe-shop-adobe-shop-icon.png", alt="Adobe Photoshop" title="Adobe Photoshop")
                                    img.skills-me-prof__icon(src="assets/images/github.png", alt="площадка для проектов GitHub" title="площадка для проектов GitHub")
                                    img.skills-me-prof__icon(src="assets/images/gitlab-blog-cover.png", alt="площадка для проектов GitLab" title="площадка для проектов GitLab")
                                    img.skills-me-prof__icon(src="assets/images/maxresdefault.png", alt="Верстка по методологии БЭМ" title="Верстка по методологии БЭМ")
                            section.education-course
                                header.education-course__header Профессиональные курсы
                                .education-course__content
                                    .education-course__time 2020-2021 г
                                    .line-horizontally
                                    .education-course__company JavaScript.ru ИП Кантор ИА
                                    .line-horizontally
                                    .education-course__post JavaScript/DOM/Интерфейсы
                                .line-wave
                                    .line-wave-top
                                    .line-wave-bottom
                                .education-course__content
                                    .education-course__time 2020 - 2020 г
                                    .line-horizontally
                                    .education-course__company HTML Academy
                                    .line-horizontally
                                    .education-course__post Профессиональный HTML и CSS
                            section.education
                                header.education__header Образование
                                .education__content
                                    .education__time 2002 - 2004 г
                                    .line-horizontally
                                    .education__company Владимирский филиал Финансового университета при Правительстве Российской Федерации
                                    .line-horizontally
                                    .education__post Неоконченное высшее
                                .line-wave
                                    .line-wave-top
                                    .line-wave-bottom
                                .education__content
                                    .education__time 2000 - 2002 г
                                    .line-horizontally
                                    .education__company Юрьев-Польский финансово-экономический колледж
                                    .line-horizontally
                                    .education__post Среднее специальное "Финансы"
                            section.my-crafts
                                header.my-crafts__header Проба пера
                                include components\sliderNewOne\sliderNewOne.pug
                                .my-crafts__content
                                    a.my-crafts__linc(href="/assets/InternetShop/index.html") Первый Интернет-магазин (март 2021)
                                    a.my-crafts__linc(href="/assets/Shnake/index.html") Игрушка-змейка (WASD) (май 2021)
                                    a.my-crafts__linc(href="/assets/Calc/dist/index.html") Калькулятор (май 2021)
                                    a.my-crafts__linc(href="/assets/memorization/index.html") Запоминалка (август 2021)
                                    a.my-crafts__linc(href="/assets/Tag/index.html") Пятнашки (ноябрь 2021)
                            .slider-one
                            .slider-triple
        include _scripts.pug