* {
    box-sizing: border-box
}

html {
    font-family: Garamond , Verdana, serif;
    font-size: 23px;
    line-height: 26px;
    @media(max-width: 1200px) {
        font-size: 18px;
        line-height: 22px;
    }
    @media(max-width: 374px) {
        font-size: 16px;
        line-height: 18px;
    }
    @media print {
        font-size: 18px;
        line-height: 22px;
    }

}
.wrapper {
    overflow: hidden;
}
.container {
    width: 1240px;
    margin: auto;
    @media print {
        width: 100%;
    }
    @media(max-width: 1200px) {
        width: 100%;
    }

}
