

html {
    background-image: url(https://st03.kakprosto.ru/images/article/2015/10/12/70234_561bbaaa939db561bbaaa93a11.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.general__inner {
    display: flex;
    @media(max-width: 767px) {
        flex-direction: column-reverse;
    }
    @media print {
        flex-direction: row;
    }


    & header {
        font-size: 30px;
        line-height: 34px;
        font-weight: 800;
    
        @media(max-width: 1200px) {
            font-size: 25px;
            line-height: 28px;
        }
        @media(max-width: 985px) {
            font-size: 21px;
            line-height: 23px;
        }
        @media(max-width: 767px) {
            width: 90%;    
        }
        @media(max-width: 374px) {
            font-size: 19px;
            line-height: 21px;
        }
        @media print {
            width: 90%; 
            font-size: 21px;
            line-height: 23px;
        }

    }
}
.aside {
    width: 400px;
    padding: 20px;
    background-color: rgb(207, 207, 207);
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    @media(max-width: 1200px) {
        width: 33%;
    }
    @media(max-width: 767px) {
        width: 100%;    
    }
    @media print {
        width: 33%; 
        background-color: rgb(255, 255, 255);
    }


}
.my-photo {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: solid 5px $color-general;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    &__img {
        width: 150px;
        height: 150px;
    }
}
.about-me {
margin-top: 30px;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
    &__header {
        width: 75%;
        text-align: center;
        border-radius: 50px 0 50px 0;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background-color: $color-general;
        padding: 0 20px;
        @media(max-width: 1200px) {
            width: 90%;
        }
    }
    &__text {
        margin-top: 20px;
    
    }
    & span {
        @media print {
            display: block;
        }
    }
}
.contact-me {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    &__header {
        align-self: center;
        width: 75%;
        text-align: center;
        border-radius: 50px 0 50px 0;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background-color: $color-general;
        margin-bottom: 10px;
        padding: 0 20px;
        @media(max-width: 1200px) {
            width: 90%;
        }
    }

    &__telephone:hover,
    &__telephone:active,
    &__telephone {
        font-weight: 600;
        text-decoration: none;
        color: #000;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    &__email:hover,
    &__email:active,
    &__email {
        font-weight: 600;
        text-decoration: none;
        color: #000;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    &__adress {
        font-weight: 600;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    &__text {
        margin-left: 10px;
    }
}
.qr-code {
    margin-top: 10px;
    display: none;
    @media print {
        display: block;
    }
}
.skills-me {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    @media print {
        display: none;
    }
    &__header {
        align-self: center;
        width: 75%;
        text-align: center;
        border-radius: 50px 0 50px 0;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background-color: $color-general;
        padding: 0 20px;
        @media(max-width: 1200px) {
            width: 90%;
        }
    }
    &__el {
        margin-top: 20px;
    }
    &__name {
        font-weight: 700;
    }
    &__scale {
        margin-left: 25px;
        display: flex;
        width: 180px;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        &-el {
        margin-top: 0px;
        width: 12px;
        height: 12px;
        background-color: $color-general;
        border-radius: 3px;
            &--gray {
                background-color: rgb(179, 179, 179);
            }
        }
        @media(max-width: 767px) {
            margin-top: 10px;
        }

    }

}
.line {
    height: auto;
    width: 2px;
    background-color: $color-general;
    @media(max-width: 767px) {
        display: none;    
    }
    @media print {
        display: none;
    }


}
.main {
    width: 800px;
    padding: 20px;
    background-color: rgb(207, 207, 207);
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;

    @media(max-width: 1200px) {
        width: 67%;
    }
    @media(max-width: 767px) {
        width: 100%;    
    }
    @media print {
        width: 67%; 
        background-color: rgb(255, 255, 255);
    }


}
.name-me {
    width: 100%;
    display: flex;
    flex-direction: column;

        
    &__name {
        align-self: center;
        width: 60%;
        text-align: center;
        border-radius: 50px 0 50px 0;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background-color: $color-general;
        padding: 0 20px;
    }
    &__profession {
        margin-top: 20px;
        display: flex;
        &--text {
            font-weight: 600;
            margin-left: 10px;

        }
    }
    &__price {
        margin-top: 20px;
        display: flex;
        &--text {
            font-weight: 600;
            margin-left: 10px;

        }
    }
}
.work-experience {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    &__header {
        align-self: center;
        width: 60%;
        text-align: center;
        border-radius: 50px 0 50px 0;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background-color: $color-general;
        padding: 0 20px;
    }
    &__content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100px;
        // background-color: darkblue;
    }
    &__time {
        font-weight: 600;
    }
    &__company {
        // margin-left: 30px;
    }
    &__post {
        font-weight: 600;
        // margin-left: 60px;
    }
}
.line-horizontally {
    width: 100%;
    height: 1px;
    background-color: $color-general;
}
.skills-me-prof {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__header {
        align-self: center;
        width: 60%;
        text-align: center;
        border-radius: 50px 0 50px 0;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background-color: $color-general;
        padding: 0 20px;
    }
    &__content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        // background-color: aquamarine;
    }
    &__icon {
        margin-top: 20px;
        background-color: transparent;
        margin-right: 4%;
        margin-left: 4%;
        width: 10%;
        height: auto;
        @media(max-width: 767px) {
            width: 14%;    
        }
        @media(max-width: 520px) {
            width: 20%;    
        }
    }
}
.education-course {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__header {
        align-self: center;
        width: 60%;
        text-align: center;
        border-radius: 50px 0 50px 0;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background-color: $color-general;
        padding: 0 20px;
    }
    &__content {
        margin-top: 20px;
        display: flex;
        // border: 1px solid $color-general;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100px;
        // background-color: darkblue;
    }
    &__time {
        font-weight: 600;
    }
    &__company {
        // margin-left: 30px;
    }
    &__post {
        font-weight: 600;
        // margin-left: 60px;
    }
}
.line-wave {
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 30px;
    overflow: hidden;
    // background-color: blue;
}
.line-wave-top {
    position: absolute;
    width: 100%;
    height: 20px;
    background: radial-gradient(16px, transparent, transparent 4px, $color-general 4px, $color-general 10px, transparent 11px);
    background-size: 30px 40px;
}
.line-wave-bottom {
    position: absolute;
    width: 100%;
    height: 20px;
    background: radial-gradient(16px, transparent, transparent 4px, $color-general 4px, $color-general 10px, transparent 11px);
    background-size: 30px 40px;
    top: 20px;
    left: 15px;
    background-position: 0px -20px;
}
.education {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    @media print {
        margin-top: 120px;
    }
    @media print {
        display: none;
    }

    &__header {
        align-self: center;
        width: 60%;
        text-align: center;
        border-radius: 50px 0 50px 0;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background-color: $color-general;
        padding: 0 20px;
    }
    &__content {
        margin-top: 20px;
        display: flex;
        // border: 1px solid $color-general;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100px;
        // background-color: darkblue;
    }
    &__time {
        font-weight: 600;
    }
    &__company {
        // margin-left: 30px;
    }
    &__post {
        font-weight: 600;
        // margin-left: 60px;
    }
}
.my-crafts {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    @media print {
        display: none;
    }

    &__header {
        align-self: center;
        width: 60%;
        text-align: center;
        border-radius: 50px 0 50px 0;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background-color: $color-general;
        padding: 0 20px;
    }
    &__content {
        margin-top: 20px;
        display: flex;
        // border: 1px solid $color-general;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100px;
        // background-color: darkblue;
    }

}

