.swiper.swiper-one
    .swiper-wrapper
        .swiper-slide.swiper-one__slide
          a.my-crafts__linc(href="/assets/InternetShop/index.html")
            img( class="swiper-one__slide-img" src="/assets/images/progect/IM.jpg", alt="")
        .swiper-slide.swiper-one__slide
          a.my-crafts__linc(href="/assets/Shnake/index.html")
            img( class="swiper-one__slide-img" src="/assets/images/progect/Sn.jpg", alt="")
        .swiper-slide.swiper-one__slide
          a.my-crafts__linc(href="/assets/Calc/dist/index.html")
            img( class="swiper-one__slide-img" src="/assets/images/progect/Calc.jpg", alt="")
        .swiper-slide.swiper-one__slide
          a.my-crafts__linc(href="/assets/memorization/index.html")
            img( class="swiper-one__slide-img" src="/assets/images/progect/Memor.jpg", alt="")
        .swiper-slide.swiper-one__slide
          a.my-crafts__linc(href="/assets/Tag/index.html")
            img( class="swiper-one__slide-img" src="/assets/images/progect/Tag.jpg", alt="")
    .swiper-pagination.swiper-one-pagination
    .swiper-button-prev
    .swiper-button-next
    .swiper-scrollbar


